body {
background: rgb(249,249,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(239,239,239,1) 100%); /* W3C */

	background-attachment:fixed;
	font-family:Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
/*input {
	border-radius:3px;
	background-color:#FFF;
	border:1px solid #666;
	padding-left:5px;
}*/

.bg {
position:fixed;
top:-5px;
left:-5px;
z-index:-999;
width:110%;
height:110%;
}

.footerfill {
height:100%;
width:110%;
position:fixed;
top:200px;
left:-5%;
background:#333;
z-index:-1;
}

input {
outline:0px none;
}

input[type=submit] {
padding:5px;
padding-top:7px;
padding-left:7px;
padding-right:7px;
color:#fff;
background-color:#297acc;
border:0px solid #103152;
border-bottom:3px solid #103152;
}

input[type=button] {
padding:5px;
padding-top:7px;
padding-left:7px;
padding-right:7px;
color:#fff;
font-size:12px;
background-color:#297acc;
border:0px solid #103152;
border-bottom:3px solid #103152;
}

.group {
background:#aaa;
border:1px solid black;
margin-top:10px;
}
.textbox {
padding: 5px;
border: #ddd 1px solid;
border-radius: 5px;
}
.box {
	color:#000;
	padding:5px;
	border-radius:5px;
	border:1px #999 solid;
	margin:5px;
    font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(bottom, rgb(224,226,227) 9%, rgb(250,250,250) 62%);
	background-image: -o-linear-gradient(bottom, rgb(224,226,227) 9%, rgb(250,250,250) 62%);
	background-image: -moz-linear-gradient(bottom, rgb(224,226,227) 9%, rgb(250,250,250) 62%);
	background-image: -webkit-linear-gradient(bottom, rgb(224,226,227) 9%, rgb(250,250,250) 62%);
	background-image: -ms-linear-gradient(bottom, rgb(224,226,227) 9%, rgb(250,250,250) 62%);
}
.HeaderBanner {
color:#eee;
font-weight:100;
font-size:40px;
padding-top:50px;
padding-left:10px;
padding-bottom:0px;
margin-bottom:0px;
vertical-align:middle;
}
.SubHeaderBanner {
color:#222;
font-weight:500;
font-size:14px;
}
table {
table-layout:fixed;
}
.tablescroll {
background:#fff;
max-width:100%;
min-width:920px;
padding-left:10px;
padding-right:10px;
position:fixed;
top:10px;
left:0px;
}
.main {
border-top:1px solid #aaa;
border-bottom:1px solid #aaa;
background-color:white;
max-width:100%;
min-width:920px;
padding:10px;
padding-top:10px;
padding-bottom:5px;
box-shadow:#999 1px 1px 5px;
margin-top:20px
}
.menuLocked {
margin-top:0px;
color:#eee;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
transition: 0.5s;
padding-bottom:8px;
padding-top:8px;
}
.menu {
margin-top:-25px;
color:#333;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
transition: 0.5s;
padding-bottom:8px;
padding-top:8px;
}
.menu:hover {
margin-top:0px;
color:#eee;
}
#menu {
width:100%;
text-align:right;
background:#333;
position:fixed;
top:0px;
/*box-shadow:#000 0px 0px 10px;*/
}
#menu a:link {
text-decoration:none;
padding-left:10px;
color:inherit;
}
#menu a:visited {
text-decoration:none;
color:inherit;
}
#ReportsMenu {
clear:both;
width:95%;
margin:0 auto;
text-align:left;
}
img {
vertical-align:middle;
}
#boxartBrowser {
width:700px;
height:500px;
float:left;
display:none;
}
#overflow {
width:700px;
height:500px;
overflow-y:visible;
overflow-x:hidden;
}
#upload {
border:1px solid #ccc; 
background:#fff; 
padding:5px;
float:right;
width:300px;
}
div#tipDiv {
    background-color:#E1E5F1; 
    border:1px solid #667295;
    padding:4px;
    width:200px;
}
.refresh {
color:#000;
}
.wrapper {
color:#000;

}
.function {
float:left;
z-index:99999999;
}
.function a:link {
display:block;
text-decoration:none;
margin-right:2px;
margin-left:1px;
padding:2px;
padding-bottom:3px;
}
.function input {
display:block;
text-decoration:none;
border:1px #fff solid;
margin-right:2px;
margin-left:1px;
padding-left:30px;
width:100px;
height:30px;
background:url(../icns/calendar2.jpg);
background-repeat:no-repeat;
background-position:left center;
}
#width {
max-width:100%;
padding-left:10px;
padding-right:10px;
}
.datatables_filter {
border-radius:3px;
}
.dataTables_info {
position:relative;
top:-25px;
margin-bottom:-25px;
}
.even:hover {
    background-color:#98eced; 
    border:1px solid #000;
}
.odd:hover {
    background-color:#98eced;
    border:1px solid #000;
}
.StockLowTR {
	background-color:#f75b68;
}
.StockLowTR:hover {
    background-color:#99FF33;
    border:1px solid #000;
}
.tinytext {
font-size:14px;
}
.servermessage {
opacity:0;
margin:0 auto;
background:yellow;
border:1px solid orange;
position:fixed;
text-align:center;
width:200px;
top:10px;
left:50%;
margin-left:-100px;
padding:10px;
-webkit-animation: highlight 4s ease-in-out; /* Chrome, Safari, Opera */
    animation: highlight 4s ease-in-out;
}
@-webkit-keyframes highlight {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Standard syntax */
@keyframes highlight {
    from {opacity: 1;}
    to {opacity: 0;}
}

#iframewrapper {
background-color: rgba(255, 255, 255, 0); 
border-radius: 0px; 
padding:0px;
position: fixed; 
left: 50%;
top: 50%;
z-index: 999999; 

}
#iframeX {

}

#grey {
position:fixed; 
left:-5%; 
top:-5%; 
opacity:0.4; 
background:#000; 
width:110%; 
height:110%; 
}
.centre {
margin:auto 0;
text-align:center;
}
.right {
text-align:right;
}
.odd {
background-color:#eee;
}
.even {

}
.ListItem {
	border-bottom:1px solid #ccc;
	padding:10px;
	-webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: 0.1s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ListItem:hover {
	background-color:#F1FAF6;
}